@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- General Styles -------------- */
html {
    scroll-behavior: smooth;
}

.shadow-text {
    text-shadow: 
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;;
}

.shadow-text-light {
    text-shadow:
      2px 2px 0 #2b2b2b,
      -2px -2px 0 #2b2b2b,
      2px -2px 0 #2b2b2b,
      -2px 2px 0 #2b2b2b,
      0 2px 0 #2b2b2b,
      2px 0 0 #2b2b2b,
      0 -2px 0 #2b2b2b,
      -2px 0 0 #2b2b2b,
      2px 2px 5px #2b2b2b;
}