/* ----------- Fonts -------------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sail&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- General Styles -------------- */
html {
    scroll-behavior: smooth;
}

.shadow-text {
    text-shadow: 
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;;
}

.shadow-text-light {
    text-shadow:
      2px 2px 0 #161616,
      -2px -2px 0 #161616,
      2px -2px 0 #161616,
      -2px 2px 0 #161616,
      0 2px 0 #161616,
      2px 0 0 #161616,
      0 -2px 0 #161616,
      -2px 0 0 #161616,
      2px 2px 5px #161616;
}
  
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: #F28928;
    border-radius: 15px;
}


@keyframes customAnimation {
    0% {
        opacity: 0;
        transform: translateY(-3px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(3px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated {
    animation: customAnimation 0.3s ease-in-out forwards;
}

.blur-background {
    backdrop-filter: blur(10px);
}

.blur-background-max {
    backdrop-filter: blur(30px);
    border: 3px solid #262626;
}