.menuButton {
    background: transparent;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
}

.menuIcon {
    width: 40px;
    height: 4px;
    border-radius: 6px;
    position: absolute;
    transition: all 0.3s;
    background-color: #F28928;
}

.menuIcon::before, .menuIcon::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: #F28928; 
    border-radius: 6px;
    transition: all 0.3s ease;
}

.menuIcon::before {
    transform: translateY(-12px) translateX(-20px); 
}

.menuIcon::after {
    transform: translateY(12px) translateX(-20px); 
}

.active {
    .menuIcon {
        background-color: transparent;
    }
    
    .menuIcon::before {
        transform: translateX(-20px) rotate(45deg);
    }
    .menuIcon::after {
        transform: translateX(-20px) rotate(-45deg);
    }
}
